$type-font: 'Stylish', sans-serif;
$header-font: 'Julius Sans One', sans-serif;
$simple-font: 'Pompiere', cursive;
$light-plum: #8d7986;
$background-texture-levi: url(/images/background/levi.png);
$smoke-white: whitesmoke;
$social-brand-facebook: #3b5998;
$social-brand-twitter: #55acee;
$social-brand-linkedin: #0077B5;
$social-brand-insta: #fccc63;
$social-icon-button-bg: none;
$social-icon-button-font-size: 2rem;
$social-icon-button-size: 3.5rem;
$social-icon-button-space-between: 0.30rem;
$social-icon-button-transition: all 0.3s ease-in-out;

#wrapper {
    padding: 0;
}
html, body {
    height: 100%;
}
.menu .active > a {
    background-color: transparent;
    border-right: 1px solid $light-plum;
    border-left: 1px solid $light-plum;
    color: $light-plum;
    
}

/***** Header Section *****/
#header_logo {
    width: 180px;
}
.header {
    text-align: center;
    margin-bottom: 0;
    border: none;
}
div#name {
    display: flex;
    align-items: flex-end;
    margin-bottom: 0.6em;
}
#develop {
    font-family: 'Pompiere', cursive;
}
#graphic {
    font-family: 'Mountains of Christmas', cursive;
    color: $light-plum;
    font-weight: bold;
    letter-spacing: 3px;
}

/***** Navigation Styles *****/
.top-bar, .top-bar ul {
    background: none;
}
#top-menu ul a {
    color: dimgrey;
    font-family: $type-font;
    text-transform: uppercase;
}
#top-menu ul li:hover {
    border-right: 1px solid $light-plum;
    border-left: 1px solid $light-plum;
        a:hover {
            color: $light-plum;
        }
}
.title-bar {
    background: grey;
}

/***** Section Section Styles *****/
#second_section {
    background-image: $background-texture-levi;
    height: 430px;
}
.awe-icon {
    text-align: center;
    color: $smoke-white;
}
#icon-box {
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
    .icon-title {
        color: $smoke-white;
        margin: 1em 0 1em 0;
        font-family: $header-font;
        font-weight: bold;
    }
}

/***** Footer Styles *****/
.footer-header {
    font-family: $simple-font;
    color: #544252;
    text-transform: uppercase;
    font-weight: 600;
}
footer .callout {
    border: none;
}
.footer {
    margin-bottom: 0;
    padding: 2em;
}
img.thumbnail.footer-image:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    border: none;
    margin: 0;
    padding: 0;
}
.box {
    position: relative;
    overflow: hidden;
    img {
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
}
img.thumbnail.footer-image {
    width: 80%;
}

/***** Social Media Styles *****/
.social-icon-button {
  border-radius: $social-icon-button-size;
  width: $social-icon-button-size;
  height: $social-icon-button-size;
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: $social-icon-button-font-size;
  background: $social-icon-button-bg;
      + .social-icon-button {
        margin-left: $social-icon-button-space-between;
	  }
	.fab {
	    background: none;
	    z-index: 1;
	    line-height: $social-icon-button-size;
	    transition: $social-icon-button-transition;
	    
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    -webkit-transform: translate(-50%, -50%);
	     -ms-transform: translate(-50%, -50%);
	       transform: translate(-50%, -50%);  
	}
	span {
	    display: block;
	    border-radius: 0;
	    width: 0;
	    height: 0;
	    
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    -webkit-transform: translate(-50%, -50%);
	     -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	    
	    transition: $social-icon-button-transition;
	}
	&:hover {
	    .fa {
	      color: #fefefe;
	    }
	    span {
	      display: block;
	      border-radius: $social-icon-button-size;
	      width: $social-icon-button-size;
	      height: $social-icon-button-size;
	    }
	}
	&.link {
	    color: $social-brand-linkedin;
	
	    span {
	        background-color: $social-brand-linkedin;
	    }
	}
	&.insta {
	    color: $social-brand-insta;
	    span {
	        background-color: $social-brand-insta;
	    }
	}
	&.twitter {
	    color: $social-brand-twitter;
	    span {
	        background-color: $social-brand-twitter;
	    }
	}
	&.facebook {
	    color: $social-brand-facebook;
	    span {
	        background-color: $social-brand-facebook;
	    }
	}
}
a.social-icon-button.twitter:hover,
a.social-icon-button.link:hover,
a.social-icon-button.insta:hover,
a.social-icon-button.facebook:hover {
	color: white;
}

/***** Media Styles *****/
@media only screen and (max-width: 1023px) {
    div#name {
        text-align: center;
        display: block;
    }
    #about-section {
        height: 100% !important;
    }
}

@media only screen and (max-width: 600px) {
    #top-menu {
        background: #43393f;
        text-align: center;
        li:hover {
            background: $light-plum;
        }
    }
    #top-menu ul a {
        color: $smoke-white !important;
    }
    #second_section {
        padding: 1em 0 1em 0;
    }
    #form {
        width: 100%;
    }
}

/***** About Page *****/
.about-pad {
    padding: 3em 1em 2em 1em;
}

#write-about, #write-about h4 {
    color: whitesmoke;
    font-family: $type-font;
    text-align: left;
}
#rose-div {
    display:flex;justify-content:center;align-items:center;
}

#about-section {
    background-image: $background-texture-levi;
    height: 430px;
}
#dev_section {
    background-image: $background-texture-levi;
}

/***** end About Page *****/

/***** Development Page *****/
#exper {
    color: whitesmoke;
    font-family: $simple-font;
    text-align: left;
    background: transparent;
    font-size: 20px;
    padding: 2em;
}
.list {
    list-style: square;
}
div#exper.callout {
    border: none;
}
#dev-title {
    color: whitesmoke;
    text-align: center;
    padding: 1em 0 0 0;
}
#graph-image {
    margin-top: 2em;
}

/***** end Development Page *****/

/***** Graphic Page *****/
#graphic_section {
    padding: 1em; 
    background-image: $background-texture-levi;
}
.gra-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 4px;
}
.gra-col {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    img {
        margin-top: 8px;
        vertical-align: middle;
    }
}
@media screen and (max-width: 800px) {
  .gra-col {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .gra-col {
    flex: 100%;
    max-width: 100%;
  }
}

/***** end Graphic Page *****/

/***** Photography Page *****/
#photo_section {
    background-image: url(/images/background/pw_maze_black.png);
}
%animation-default {
  opacity: 1 !important;
  z-index: 3;
}
@mixin carousel($items, $animation: 'default') {
  .carousel {
    width: 100%;
    position: relative;
    overflow: hidden;
    > input[type="radio"] {
      position: absolute;
      left: 0;
      opacity: 0;
      top: 0;
      &:checked {
        ~ .carousel_items .carousel_item,
        ~ .carousel_prev > label,
        ~ .carousel_next > label {
          opacity: 0;
        }
      }
      @for $i from 1 through $items {
        &:nth-child(#{$i}) {
          &:checked {
            ~ .carousel_items .carousel_item {
              @if $animation == 'default' {
                &:nth-child(#{$i}) {
                  opacity: 1;
                }
              }
            }
            ~ .carousel_prev {
              > label {
                @if $i == 1 {
                  &:nth-child(#{$items}) {
                    @extend %animation-default;
                  }
                } @else if $i == $items {
                  &:nth-child(#{$items - 1}) {
                    @extend %animation-default;
                  }
                } @else {
                  &:nth-child(#{$i - 1}) {
                    @extend %animation-default;
                  }
                }
              }
            }
            ~ .carousel_next {
              > label {
                @if $i == $items {
                  &:nth-child(1) {
                    @extend %animation-default;
                  }
                } @else {
                  &:nth-child(#{$i + 1}) {
                    @extend %animation-default;
                  }
                }
              }
            }
            ~ .carousel_nav {
              > label {
                &:nth-child(#{$i}) {
                  background: #ccc;
                  cursor: default;
                  pointer-events: none;
                }
              }
            }
          }
        }
      }
    }
    &_items {
      margin: 0;
      padding: 0;
      list-style-type: none;
      width: 100%;
      height: 600px;
      position: relative;
    }
    &_item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: opacity 2s;
      -webkit-transition: opacity 2s;
      img {
        width: 100%;
        vertical-align: middle;
      }
    }
    &_prev,
    &_next {
      > label {
        border: 1px solid #fff;
        border-radius: 50%;
        cursor: pointer;
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        opacity: 0;
        z-index: 2;
        &:hover,
        &:focus {
          opacity: .5 !important;
        }
        &:before,
        &:after {
          content: "";
          position: absolute;
          width: inherit;
          height: inherit;
        }
        &:before {
          background: linear-gradient(to top, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%),
                      linear-gradient(to left, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%);
          width: 60%;
          height: 60%;
          top: 20%;
        }
      }
    }
    &_prev {
      > label {
        left: 2%;

        &:before {
          left: 35%;
          top: 20%;
          transform: rotate(135deg);
          -webkit-transform: rotate(135deg);
        }
      }
    }
    &_next {
      > label {
        right: 2%;
        &:before {
          left: 10%;
          transform: rotate(315deg);
          -webkit-transform: rotate(315deg);
        }
      }
    }
    &_nav {
      position: absolute;
      bottom: 3%;
      left: 0;
      text-align: center;
      width: 100%;
      z-index: 3;
      > label {
        border: 1px solid #fff;
        display: inline-block;
        border-radius: 50%;
        cursor: pointer;
        margin: 0 .125%;
        width: 20px;
        height: 20px;
      }
    }
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.photo-container {
  width: 900px;
  min-width: 900px;
  margin: 50px auto;
}

@include carousel(12);

/***** end Photography Page *****/

/***** Resume Page *****/
#resume_section {
    background-image: $background-texture-levi;
    a {
        color: whitesmoke;
        font-weight: bold;
    }
}
#write-about>#exper>.list>li {
    padding: 0.5em;
}
#resume {
    margin-top: 1em;
    margin-bottom: 1em;
}
/***** end Resume Page *****/

/***** Contact Page *****/
.header-contact {
    font-family: $header-font;
    color: whitesmoke;
}
#form {
    padding: 3em;
}
/***** end Contact Page *****/