/*
  
   Rachel Middleton Portfolio Print Screen
   Author:   Rachel Middleton
   Date:     June 28, 2017
   Filename: print.css

*/

body {
        font-family: Georgia, serif;
        background:none;
        color: black;
        font-size: 12px;
        margin: 0.5cm;
        width: 100%;
}

#header, nav, #box_wrapper, #second_container, footer, #assign_title, a { display: none; }

img { width: 150px;height: 150px; }
