body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.8;
    font-size: 14px;
    color: #292b2c;
    background: #cdf0e5;
}

html,body {display: block;}

.background {
    background-color: white; 
}

.cyan {
    background-color: darkcyan;
}
nav.navbar.navbar-default.cyan {
    margin-bottom: 0;
}
.navbar-default .navbar-brand {
    color: white;
    letter-spacing: 2px;
    font-variant: small-caps;
}
.navbar-default .navbar-nav li a:hover {
    color: aquamarine;
} 
.navbar-default .navbar-brand:hover {
    color: #d2c6cc;
    text-shadow: none;
}
.navbar-default .navbar-nav li a {
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.navbar-default .navbar-nav .active a {
    color: darkslategray;
}

/* table */
#table_stew {
    border: 4px solid lightgrey;
    width: 70%;
    margin: auto;
}
#table_container {
    font-size: medium;
    margin-bottom: 40px;
    
}
table a {
    color: darkcyan;
}
table a:hover {
    color: darkslategray;
}

/* images */
.images {
    display: block;
    margin: auto;
    background-color: rgba(114, 90, 103, 0.8);
    padding: 2%;
    text-align: center;
    width: 100%;
}
.images:hover {
    background-color: rgba(214, 189, 202, 0.8);
}
.image_one { width: 400px; }
@media screen and (max-width: 667px) {
    .image_one { width: 95%; }
}
.school_img, .img_space {
    margin: 4% 0;
}

/* form styles */
#form {
    font-size: small;
    color: darkslategray;
	background-color: #f2f2f2;
	padding: 20px;
    margin: 10px;
	border-radius: 5px;
}

.project_background {
    background-color: rgba(114, 90, 103, 0.3);
    padding: 2%;
    width: 100%;
    border-radius: 5px;
}
.project_background img {
    display: block;
    margin: auto;
    width: 70%;
    border: solid 2px rgba(214, 189, 202, 1);
}

.vertical_img {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.wide_img{
    margin: 2% 0;
}

.tall_img {
    margin: 2% 0;
}

/* footer */
footer {
    background-color: darkslategray;
    display: inline-block;
    width: 100%;
    position: absolute;
}
footer a {
    text-align: center;
    color: darkseagreen;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: small;
}
footer a:hover { color: lightgray;}

div#footer_contact {
    background-color: #3a5959;
    margin: auto;
    display: block;
    text-align: center;
}
footer.secondary_footer .row  {
    text-align: center;
}